body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#App {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 5% auto;
    grid-template-areas:
        "sidebar header"
        "sidebar body"
        ;
    column-gap: 0.5em;
    padding: 0.3em;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    grid-area: sidebar;
    background-color: #f9f9f9;
    background-image: url("https://mdbootstrap.com/img/Photos/Others/sidenav4.jpg");
}

#header {
    grid-area: header;
    background-color: #f9f9f9;
}

#body {
    grid-area: body;
}

.cursor-pointer {
    cursor: pointer;
}
