body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#App {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 5% auto 15%;
    grid-template-areas:
        "sidebar header"
        "sidebar body"
        "footer footer";
    column-gap: 1em;
    row-gap: 1em;
    padding: 1em;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    grid-area: sidebar;
    background-color: grey;
}

#header {
    grid-area: header;
    background-color: grey;
}

#body {
    grid-area: body;
}

#footer {
    grid-area: footer;
    background-color: grey;
}
